footer{
  z-index: 100;
  position: fixed;
  display: flex;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100vw;

  @include for-small-tablet{
    display: none;
  }
}

.footer{
  width: 100%;
  padding: 4px 0;
  position: relative;
  background: var(--bg-g);
  border-top: 1px solid var(--border-a);
    &-box{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 52px;

   }
}


