<div class="overlay" data-overlay>
    <div class="modals-inner">
        <div class="modal" data-ident-modal>
            <div class="modals-top">
                <h2 class="modals-top__title">
                    Пошук боржника у реєстрі ТОВ «Tengo»
                </h2>
                <button class="modals-top__btn close">
                    <svg width="13" height="13">
                        <use href='img/sprite/sprite.svg#cancel'></use>
                    </svg>
                </button>
            </div>
            <div class="modals-box">

                <form action="#" class="modal-form modals-box__form">
                    <p>Введіть ваш ідентифікаційний номер платника подадтків (в форматі 123****456)<br>
                        та номер кредитного договору</p>
                    <label for="#" class="modal-form__label modals-box__label">
                        <input type="text" placeholder="363****231" class="modal-form__input">
                    </label>
                    <label for="#" class="modal-form__label modals-box__label">
                        <input type="text" placeholder="100923252" class="modal-form__input modal-form__input--red-border">
                    </label>
                    <button type="submit" class="modal-form__btn modals-box__btn">Шукати</button>
                    <button type="reset" class="modal-form__btn modals-box__btn modals-box__btn--tranparent">Скасувати
                        пошук</button>
                        <span class="modal-form__text">Треба заповнити всі поля</span>
                </form>

                <div class="modals-result">
                    <span class="modals-result__search">Результати пошуку:</span>
                    <ul class="modals-result__list">
                        <li class="modals-result__item">
                            <span class="modals-result__name">ПІБ боржника</span>
                            <span class="modals-result__value">Константиновский Олексій
                                Іванович</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Реєстраційний номер облікової картки платника
                                податків </span>
                            <span class="modals-result__value">363****231</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Номер
                                кредитного договору</span>
                            <span class="modals-result__value">100923252</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Дата кредитного договору</span>
                            <span class="modals-result__value">12.11.2021</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Заборгованість по основному боргу (тіло кредиту), ₴</span>
                            <span class="modals-result__value">99 000,00</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Заборгованість по відсоткам, ₴</span>
                            <span class="modals-result__value">36 421,50</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Комісія, ₴</span>
                            <span class="modals-result__value">—</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Пеня, ₴</span>
                            <span class="modals-result__value">—</span>
                        </li>
                        <li class="modals-result__item">
                            <span class="modals-result__name">Загальная заборгованість, ₴</span>
                            <span class="modals-result__value">135 421,50</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-propositions modal" data-proposition>
            <div class="modals-top">
                <h2 class="modals-top__title">
                    форма реєстрації  у акції:  «коротка Назва поточної акції» 
                </h2>
                <button class="modals-top__btn close">
                    <svg width="13" height="13">
                        <use href='img/sprite/sprite.svg#cancel'></use>
                    </svg>
                </button>
            </div>
            <div class="propositions-box modals-box">

                <p class="propositions-box__about">“Дане звернення адресоване кредитору з метою 
                    уточнення статусу моєї кредитної справи та 
                    можливості скористатися умовами акції 
                    «Коротка назва поточної акції». 
                    <br><br>
                    Я підтверджую актуальність наданих мною 
                    контактного номера телефону та електронної 
                    скриньки, також надаю згоду на їх обробку.”</p>

                <form action="#" class="modal-form propositions-box__form">
                    <label for="#" class="modal-form__label propositions-box__label">
                        <input type="text" placeholder="Ваше прізвище, ім’я та по батькові" class="modal-form__input">
                    </label>
                    <label for="#" class="modal-form__label propositions-box__label">
                        <input type="number" placeholder="Ваш номер телефону" class="modal-form__input">
                    </label>
                    <label for="#" class="modal-form__label propositions-box__label">
                        <input type="email" placeholder="Ваш e-mail" class="modal-form__input modal-form__input--red-border">
                    </label>
                    <button type="submit" class="modal-form__btn propositions-box__btn">Погоджуюсь і надсилаю</button>
                        <span class="modal-form__text propositions-box__text">Невірно введена поштова адреса</span>
                </form>

            </div>
        </div>

        <div class="modal-mobile modal" data-ident-mobile>
            <div class="modals-top">
                <h2 class="modals-top__title">
                    картка ТОВ «МІЛОАН» 
                </h2>
                <button class="modals-top__btn close">
                    <svg width="13" height="13">
                        <use href='img/sprite/sprite.svg#cancel'></use>
                    </svg>
                </button>
            </div>
            <div class="mobile-box modals-box">

                <div class="mobile-box__image">
                   <picture>
                     <source type='image/webp' srcset='img/imgmodal.webp'>
                     <img width='200' height='50' src='img/imgmodal.png' alt='image'>
                   </picture>
                   <span class="mobile-box__about">ЄДРПОУ: 40484607</span>
                </div>
             

                <ul class="mobile-box__list">
                    <li class="mobile-box__item">
                        <span class="mobile-box__name">Борг відступлено за договором:</span>
                        <span class="mobile-box__value">№13Т</span>
                    </li>
                    <li class="mobile-box__item">
                        <span class="mobile-box__name">Договір заключено:</span>
                        <span class="mobile-box__value">12.11.2021</span>
                    </li>
                    <li class="mobile-box__item">
                        <span class="mobile-box__name">Дата передачі реєстру:</span>
                        <span class="mobile-box__value">12.11.2021</span>
                    </li>
                </ul>

                <div class="mobile-box__wrapper ident-list__wrapper">
                    <button class="ident-list__hide-btn" data-ident>Шукати у реєстрі боржників</button>
                    <a href="#" download="#" class="ident-list__hide-btn">
                      <svg width="19" height="18">
                        <use href='img/sprite/sprite.svg#pdf'>
                        </use>
                      </svg>
                      Скачати договір
                    </a>
                    <a href="#" class="ident-list__hide-btn">Перейти до сторінки кредитора</a>
                  </div>

            </div>
        </div>
    </div>
</div>



