.about-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 1px 6px;
  border-radius: 8px;
  transition: all .25s;
  order: 1;

  &:hover{
    background-color: var(--bg-c);
  }
  svg{
    stroke: var(--color-c);
  }
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 1px 6px;
  border-radius: 8px;
  transition: all .25s;

  &:hover{
    background-color: var(--bg-c);
  }
  svg{
    fill: transparent;
  }

@include for-tablet{
  display: none;
 }
}

.wallet-button{
  order: 2;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  flex-direction: row;
  height: 40px;
  color: var(--color-a);
  border-radius: 8px;
  transition: all .25;
  font-family: var(--font-family);
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  padding: 1px 6px;
  svg{
    stroke: var(--color-c);
    fill: transparent;
  }

  &:hover{
    background-color: var(--bg-c);
  }
  @include laptop{
    span{
      display: none;
    }
  }
}

.connect-button{
  order: 3;
  padding: 10px 16px 10px 12px;
  font-family: var(--font-family);
  line-height: 20px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-d);
  background-color: var(--bg-d);
  display: flex;
  align-items: center;
  grid-gap: 12px;
  position: relative;
  transition: all .25;
  border-radius: 9999px;
  height: 40px;
  svg{
    stroke: var(--color-d);
    fill: transparent;
  }

  &::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-d);
    right: 36px;
  }

  &:hover{
    color: var(--color-e);
  }
}

.settings-button{
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  
  svg{
    stroke: var(--color-c);
    fill: transparent;
  }

  &:hover{
    opacity: 0.7;
  }
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

